{
    "root": true,
    "globals": {
        "__dbhandler": false
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["off", 4, {
            "SwitchCase": 1,
            "MemberExpression": 1
        }],
        "linebreak-style": ["error", "windows"],
        "eqeqeq": ["error", "always"],
        "quotes": ["warn", "double"],
        "camelcase": "error",
        "semi": ["error", "always"],
        "no-undef": "error",
        "no-console": "warn",
        "no-unreachable": "error",
        "no-unused-vars": "warn",
        "no-inline-comments": "off",
        "no-trailing-spaces": "warn",
        "one-var-declaration-per-line": "error",
        "newline-per-chained-call": "error",
        "no-extra-semi": "error",
        "eol-last": "warn",
        "default-case": "error",
        "new-cap": "error",
        "no-duplicate-imports": "error",
        "no-duplicate-case": "error",
        "no-empty": "error",
        "no-empty-function": "error",
        "no-extra-boolean-cast": "error",
        "no-invalid-regexp": "error",
        "no-loop-func": "error",
        "no-invalid-this": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-multiple-empty-lines": "warn",
        "no-multi-spaces": "warn",
        "no-plusplus": "warn",
        "no-redeclare": "error",
        "no-shadow": "error",
        "no-sync": "error",
        "no-unexpected-multiline": "warn",
        "no-unused-expressions": "warn",
        "no-use-before-define": "error",
        "object-property-newline": "warn",
        "no-tabs": "error",
        "no-useless-escape": "error",
        "complexity": ["warn", 10],
        "curly": "warn",
        "strict": "off",
        "prefer-const": "warn",
        "no-magic-numbers": "off",
        "no-extra-parens": "warn",
        "comma-dangle": "error",
        "space-before-function-paren": "off",
        "callback-return": "error",
        "consistent-this": ["error", "that"],
        "func-style": ["error", "expression"],
        "no-mixed-operators": "off",
        "no-else-return": "error",
        "init-declarations": "off",
        "no-lonely-if": "error",
        "handle-callback-err": "error",
        "no-negated-condition": "warn",
        "no-implicit-coercion": "error",
        "operator-assignment": "warn",
        "space-before-blocks": "warn",
        "no-case-declarations": "error",
        "no-confusing-arrow": "error",
        "no-empty-character-class": "error",
        "no-extra-label": "error",
        "no-restricted-imports": "error",
        "no-unmodified-loop-condition": "error",
        "no-unsafe-finally": "error",
        "no-unsafe-negation": "error",
        "lines-around-comment": "off",
        "func-names": ["error", "never"],
        "max-lines": "off",
        "max-len": "off",
        "newline-after-var": "off",
        "newline-before-return": "off",
        "no-catch-shadow": "error",
        "no-extend-native": "error",
        "comma-spacing": ["warn", {
            "before": false,
            "after": true
        }],
        "brace-style": ["warn", "1tbs"],
        "max-depth": ["error", 5],
        "max-nested-callbacks": ["error", 4],
        "max-params": ["error", 5],
        "max-statements-per-line": ["error", {
            "max": 1
        }],
        "array-callback-return": "error"
    },
    "settings": {}
}
