# Auto detect text files and perform LF normalization
* text=auto



# linguist-language= Sprachnamen
db/*.sql* linguist-language=SQL


# linguist-documentation=true/false
test/* linguist-documentation=true


# linguist-vendored=true/false


# linguist-generated=true/false
.vscode/* linguist-generated=true


# linguist-detectable=true/false
*.sql linguist-detectable=false
db/*.sql* linguist-detectable=true
