# Auto detect text files and perform LF normalization
* text=auto



# linguist-language= Sprachnamen
db/*.tar.xz linguist-language=SQL


# linguist-documentation=true/false
test/* linguist-documentation=true
.info/* linguist-documentation=true


# linguist-vendored=true/false


# linguist-generated=true/false
.vscode/* linguist-generated=true


# linguist-detectable=true/false
*.sql linguist-detectable=true
db/*.tar.xz linguist-detectable=true
